/* 
* Tweeter header.css
*/


.avatar img {
  height: 250px;
  margin: 0 0 10px 0;
  padding: 0;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.user-name {
  color: #fff;
  margin: -40px 0 0 0;
  text-shadow: 0 0 5px #363636;
}

h2 .strong {
  font-weight: 600;
}

h2 .light {
  font-weight: 300;
}

