/* 
* Tweeter header.css
*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #ffa202;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  padding-top: 120px;
  height: 300px;
}

.avatar img {
  height: 150px;
  padding: 0;
}

.user-name {
  color: #fff;
  margin: -40px 0 0 0;
  text-shadow: 5px 0.2ch 0.2ch #363636;
}

h2 .strong {
  font-weight: 600;
}

h2 .light {
  font-weight: 300;
}

