/*
* TWEETER navigation css
*/
nav span.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 1.2em;
  text-shadow: 0px 0px 10px #000;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav #write-tweet {
  text-align: center;
  text-shadow: 0px 0px 10px #000;

}

nav i.fa {
  color: #ff1900;
  font-size: 1em;
  position: relative;
}

nav .strong {
  font-weight: 600;
}

nav .light {
  font-weight: 300;
}