.new-tweet {
  margin: 1em 0;
}

.new-tweet h2 {
  display: none;
}

.new-tweet label {
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  justify-content: space-between;
  font-family: Bungee;
  font-size: 1em;
  padding-top: 0.5em;
}

form textarea {
  border: none;
  background-color: transparent;
  border-bottom: 0.2em solid #232321;
  outline: none;
  resize: none;
  font-size: 1em;
}

form button {
  border: none;
  background-color: #172e78;
  color: #ffffff;
  padding: 0.2em 0.5em;
  cursor: pointer;
}